{
    "extends": [
      "airbnb",
      "prettier",
      "prettier/flowtype",
      "prettier/react"
    ],
    "rules": {
        "indent": ["error", 4],
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "ignore"
        }],
        "no-console": 0,
        "no-restricted-properties": 0,
        "object-curly-spacing": ["error", "never"],
        "prettier/prettier": "error",
        "react/prop-types": ["error", {"customValidators": ["skipUndeclared"]}],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "root": true,
    "plugins": [
        "react",
        "flowtype",
        "prettier"
    ],
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": true
        }
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}
